@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: "Messapia";
  src: url("https://web-joca.vercel.app/fonts/Messapia-Regular.woff2") format("woff2"),
    url("https://web-joca.vercel.app/fonts/Messapia-Regular.woff") format("woff");
}

@font-face {
  font-family: "Messapia";
  src: url("https://web-joca.vercel.app/fonts/Messapia-Bold.woff2") format("woff2"),
    url("https://web-joca.vercel.app/fonts/Messapia-Bold.woff") format("woff");
  font-weight: bold;
}

@import './custom.scss';

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

img {
  pointer-events: none;
  user-select: none;
  max-height: 700px;
}

body {
  height: 100vh;
  background: #000;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.quienes-somos {
  color: white;
  margin-top: 40px;
  text-align: center;

  h1 {
    color: #fe6045;
    font-family: 'Messapia';
    font-weight: bold;
  }

  h6 {
    color: #fe6045;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
  }
}

.carousel-title {
  font-family: 'Messapia';
  font-weight: bold;
}

.carousel-desc {
  text-align: center;
}

.fotocarousel {
  background-size: cover;
  background-position: center center;
  background-image: url(http://kenwheeler.github.io/slick/img/fonz1.png);
}

.fotocarousel:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 767px) and (orientation: portrait) {}