@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import './custom.scss';

img {
  pointer-events: none;
  user-select: none;
}

body {
  height: 100vh;
  background: #000;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
}

.linear-wipe {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2em;

  background: linear-gradient(to right, #ff7d14 20%, #ff5714 40%, #ff5714 60%, #ff7d14 80%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;

  animation: shine 10s linear infinite;

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.container {
  width: 500px;
}

.form-group {
  color: white;
}


.card {
  width: 20rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

#card-sumate {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {

  /* tablets and desktop */
  .card {
    width: 20rem;
  }

  .title-empty {
    font-size: 6em;
  }

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  #card-sumate {
    margin-bottom: 20px;

    .card {
      width: 16rem;
      height: auto;

    }

    .card-title {
      font-size: 1.2em;
    }

    .card-text {
      margin: 0;
      display: none;
    }

    Button {
      margin: 0;
    }
  }

}