@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './custom.scss';

img {
  pointer-events: none;
  user-select: none;
  max-height: 700px;
}

body {
  height: 100vh;
  background: #000;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 500px;
}

.quienes-somos{}

.card {
  width: 20rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

#card-sumate {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {

  /* tablets and desktop */
  .card {
    width: 20rem;
  }

  .title-empty {
    font-size: 6em;
  }

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  #card-sumate {
    margin-bottom: 20px;

    .card {
      width: 16rem;
      height: auto;

    }

    .card-title {
      font-size: 1.2em;
    }

    .card-text {
      margin: 0;
      display: none;
    }

    Button {
      margin: 0;
    }
  }

}